
@import url('https://fonts.googleapis.com/css2? family= Be+Vietnam+Pro:wght@400;500;700 & family= Dancing+Script:wght@700 & family= Smokum & mostrar=cambiar');
@import url('https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css');


/* selector universal */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* configuracion variables y html*/

html {
    font-size: 6.25%; 
  }
:root{
    --color-primario-1: rgb(35, 44, 81);
    --color-primario-2: rgb(242, 95, 58);
    --color-variante: rgb(249, 249, 249);
    --fuente-principal: 'Be Vietnam Pro', sans-serif;
}

  /* selectores etiquetas*/

a{
    text-decoration: none;
}
body {
    font-family: var(--fuente-principal);
    font-size: 16rem;
    width: 100%;
  }

button:hover{
   color: black;
   font-weight: 900;
}
button{
    background-color: var(--color-primario-2) ;
    border-radius: 25rem;
    border: none;
    color: var(--color-variante) ;
    padding: 13rem 20rem;
}
h3{
    color: var(--color-primario-1);
}
p{
    margin: 10rem;
    line-height:25rem; 
}

/* modo mobile / sansung s20 ultra  height: 412 */

/* header */

.header-mobile{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30rem; 
}


/* main */
/* seccion general */
/*  articulo graficos*/

.general{
    width: 100%;
}
.graficos{
    background-image: url("../imagenes/illustration-intro.svg");
    background-repeat: no-repeat;
    background-size:contain;
    height:40vh;
    width:100%;
}

/*  articulo texto*/

.texto{
    font-size: 35rem;
    font-weight: 700;
    padding: 40rem;
    text-align: center;
}
.texto .chico{
    font-size:30rem ;
    padding: 0rem 20rem;
}
.texto p{
    color: black;
    font-size: 16rem;
    font-weight: 500;
  
}

/*  articulo lista*/

.lista p{
    margin: 20rem 10rem 40rem 40rem;
    line-height:25rem;
    text-align: left;
}
.numero{
    background-color: var(--color-primario-2) ;
    border-radius: 25rem;
    color: var(--color-variante);
    font-weight: 900;
    padding: 10rem 0;
    text-align: center;
    width: 80rem;
}
.titul{
    align-items: center;
    background-color: rgba(255, 51, 0, 0.14);
    border-radius: 25rem;
    display: flex;
    gap: 10rem;
    margin: 0 10rem;
    
}

/*  seccion avatar*/

.avatar{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40rem;
}
.avatar img{
    height: 70rem;
    margin: 30rem;
    width: 70rem;
}
.avatar p{
    margin-bottom: 30rem;
    padding: 0rem 45rem;
    text-align: justify;
}
.box-avatar h3{
    font-size: 35rem;
}
.box-avatar{
    text-align: center;
    margin-bottom: 50rem;
}
h3.nombre {
    font-size: 20rem;
}

/*  pre footer*/

.pre-footer{
    background-color: var( --color-primario-2) ;
    color: white;
    font-size: 40rem;
    font-weight: 700;
    padding: 70rem 50rem;
    text-align: center;  
}
.pre-footer button{
    background-color: var(--color-variante);
    color: var(--color-primario-2); 
}
.pre-footer p{
    line-height: 60rem;
}

/* footer*/

.copy{
    background-color:rgba(30, 30, 38, 1);
    color:rgba(140, 140, 148, 1);
    font-size: 13rem;
    padding-top: 30rem;
    text-align: center;
}
.footer{
    background-color:rgba(30, 30, 38, 1);
    height: auto;
    padding: 40rem;
}
.formulario{
    display: flex;
    gap: 20rem;
    justify-content: center;
    padding-top: 20rem;
}
.formulario input::placeholder{
    font-family: var(--fuente-principal);
    font-size: 15rem;
    font-style: italic;
}
.formulario input{
    border-radius: 25rem;
    padding: 13rem 20rem;
}
.iconos {
    display: flex;
    font-size: 40rem;
    justify-content: space-around;
    padding-bottom: 30rem;
    padding-top:40rem ;
}
.lista-footer{
    display: flex;
    gap: 60rem;
    justify-content: center;
    padding-top: 50rem;
}
.lista-footer a, .iconos a{
    color: white;
}
.lista-footer li{
   line-height: 40rem;
   list-style: none;
}
.logo{
    padding:30rem 15rem;
    text-align: center;
}
@media screen and (max-width: 412px) {

.header-desk{
    display: none;
}
.desk{
    display: none;
}
}

/* ACA COMIENZA MODO DESK A PARTIR DE 413PX */

@media screen and (min-width: 413px) {

/* header */

.header-desk{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 30rem 0 70rem;
}
.header-mobile{
    display: none;
}
.menu a{
    color: var(--color-primario-1);
    font-weight: 400;
}
.menu li :hover{
    background-color: var(--color-primario-2);
    padding: 10rem;
}
.menu li{
    display: inline-block;
    margin-left: 25rem;
}


    /* main */
/* seccion general */

.general{
    display: flex;
    flex-wrap: wrap;
    gap: 100rem;
    justify-content: center;
    margin-bottom: 40rem;
}
.graficos{
    background-image: url("../imagenes/imagen-general.png");
    background-repeat: no-repeat;
    background-size:contain;
}
.graficos, .texto, .textoD, .lista{
    height: auto;
    width: 40%;
}
.texto{
    order: -1;
    text-align: left;
}
.texto.textoD{
    order: 0;
}
.titul{
    background-color: white;
}

  /*  seccion avatar*/

.avatar-desk{
    display: flex;
}
.left{
    order: -1;
}

  /*  pre footer*/

.pre-footer{
    align-items: center;
    display: flex;
    justify-content:space-between;
    padding: 30rem 100rem;
}
.pre-footer p{
    display: block;
    line-height: 40rem;
    text-align: left;
    width: 60%;
}

/*footer*/

.copy{
    display: none;
}
.footer{
    display: flex;
    gap: 30rem;
    justify-content: center;
    padding: 20rem;
    
}
.formulario, .lista-footer, .iconos-logo{
    height: auto;
    width: 30%;
}
.formulario{
    order: 1;
    padding-top: 30rem;
}
.iconos{
    font-size: 20rem;
    gap: 20rem;
    justify-content: center;
    order: 1;
}
.iconos-logo{
    display: flex;
    flex-direction: column;
    gap: 20rem;
    order: -1;
}

.lista-footer{
    gap: 170rem;
    padding-top: 20rem;
}

}